/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
* {
  font-family: 'ABeeZee', sans-serif;
}

.hidden {
  display: none;
}

/* Colors */
:root {
  --main-color: rgb(68, 58, 128);
}

/* Buttons */

.btn {
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.okBtn {
  background-color: lightgreen;
  width: 100%;
  text-align: center;
}

.okBtn:hover {
  background-color: green;
  color: white;
}

/* Link Buttons */
.startBtn {
  background-color: white;
  width: 100%;
}

.startBtn:visited {
  color: black;
}

.startBtn:hover {
  color: white;
  background-color: red;
}

/* Inputs */

.textInput {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(192, 187, 187);
  margin: 7px 0;
}
