.eventInfo {
  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  cursor: pointer;
}

.eventMap {
  height: 100px;
  width: 100px;
  background-color: green;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
}

.football {
  background-image: url('https://images.unsplash.com/photo-1606925797300-0b35e9d1794e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=881&q=80');
}

.basketball {
  background-image: url('https://images.unsplash.com/photo-1624003656680-95c6a45cb499?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFza2V0YmFsbHxlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
}

.volleyball {
  background-image: url('https://images.unsplash.com/photo-1513233552420-84d7157d6a35?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dm9sbGV5YmFsbHxlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
}

.eventDetails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.eventDetails h3 {
  margin-bottom: 5px;
}

.eventStauts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.eventStauts h4 {
  background-color: red;
  width: 90%;
  padding: 5px 0;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.eventStauts button {
  padding: 5px 0;
  width: 90%;
  margin: 10px auto;
}

/* event with more info */
.eventMoreInfoContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 10px;
  background-color: #f4f4f4;
}

.eventMoreInfo_details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.eventMoreInfo_details h2,
.eventMoreInfo_details h4 {
  text-align: center;
}

.eventDetailsButtons {
  display: flex;
  justify-content: center;
}

.eventDetailsButtons button {
  margin: 5px;
  padding: 5px 10px;
}

p {
  padding: 10px 0;
  border-bottom: 1px solid black;
}

#playersList,
#playerQueue {
  padding: 10px 20px;
}

#playersList li,
#playerQueue li {
  padding: 10px;
}

#playersList li:nth-child(odd),
#playerQueue li:nth-child(odd) {
  background-color: white;
}
