.profileSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 40px 0 20px 0;
  background-image: url('https://images.unsplash.com/photo-1481174228429-b2c3f5680a7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.profileInfo {
  width: 100%;
  text-align: center;
}

.profileStatus {
  padding: 20px;
}

.profileStatus__actionButtons {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 80%;
  max-width: 1200px;
}

.profileStatus__actionButtons button {
  margin: 10px 0;
  background-color: var(--main-color);
  color: white;
}

@media screen and (min-width: 768px) {
  .profileSection {
    /* background-color: red; */
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .profileInfo {
    text-align: left;
    /* background-color: green; */
    width: 20%;
    padding: 35px;
  }

  .profileStatus {
    padding: 0;
  }

  .profileStatus__actionButtons {
    /* background-color: green; */
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .profileStatus__actionButtons button {
    width: 20%;
    margin-left: 20px;
  }
}
