main {
  background-color: rgb(68, 58, 128);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greetings {
  /* height: 25vh; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
}

.signupForm {
  width: 100%;

  height: 40vh;
  padding: 20px;
  position: relative;
}

.signupForm form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.signupForm button {
  width: 100%;
  margin-top: 30px;
}

#formMessage {
  color: rgb(250, 48, 48);
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    height: 90vh;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
